// app/styles/main.scss

body {
  margin: 30px;
}

.selector-container {
  margin: 10px;
  padding: 10px;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.components-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  .component-box {
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
